src/flows/ApexDefinedDataInFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Translate_Apex_Defined_Records</name>
        <label>Translate Apex Defined Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>TranslateApexDefinedRecords</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>colApexDefinedRecords</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputString</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>TranslateApexDefinedRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Record1</name>
        <label>Add Record1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>colApexDefinedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>apexDefinedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Translate_Apex_Defined_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>apexDefinedRecord.field1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record1_value1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefinedRecord.field2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record2_value2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefinedRecord.field3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>apexDefinedRecord.field4</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record1</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Apex Data in Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApexDefinedDataInFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>apexDefinedRecord</name>
        <apexClass>SampleClassDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colApexDefinedRecords</name>
        <apexClass>SampleClassDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
