src/flows/Flow_to_Lwc_with_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Flow to Lwc with Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to Lwc with Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>HomeScreen</name>
        <label>HomeScreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>second_screen</targetReference>
        </connector>
        <fields>
            <name>Message_To_Display</name>
            <dataType>String</dataType>
            <fieldText>Message To Display</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Color</name>
            <dataType>String</dataType>
            <fieldText>Color</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>arrivalDate</name>
            <dataType>Date</dataType>
            <fieldText>arrivalDate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flowToLwcDataLwc</name>
            <extensionName>c:flowToLwcData</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>Color</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Message_To_Display</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>arrivalDate</name>
                <value>
                    <elementReference>arrivalDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>second_screen</name>
        <label>second_screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>second_lwc</name>
            <extensionName>c:flowToLwcData</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>arrivalDate</name>
                <value>
                    <elementReference>arrivalDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <elementReference>Color</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>text</name>
                <value>
                    <elementReference>Message_To_Display</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HomeScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
