src/flows/Quote_Line_Generator_with_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Current_Quote_Pricebook</name>
        <label>Assign Current Quote Pricebook</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>priceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_PriceBook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_pricebook_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Standard_Pricebook</name>
        <label>Assign Standard Pricebook</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>priceBook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_Pricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Quote_with_Standard_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_current_quote</name>
        <label>Assign the current quote</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>currQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_current_quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_an_edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unavailable_Fields</name>
        <label>Assign Unavailable Fields</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>mrcValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.MRC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>salesPriceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_edit</name>
        <label>Check for edit</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Create_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_isEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentQuoteLineId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Quote_Line</targetReference>
            </connector>
            <label>Yes_isEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasCurrentQuotePricebook</name>
        <label>hasCurrentQuotePricebook</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_PriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Quote_Pricebook</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_an_edit</name>
        <label>Is this an edit?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Form_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentQuoteLineId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Quote Line Saving correctly</description>
    <environments>Default</environments>
    <interviewLabel>Quote Line Generator with Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Generator with Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Line</name>
        <label>Create Quote Line</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Type__c</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Line_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRC__c</field>
            <value>
                <elementReference>mrcCurrencyInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Quote_Line_Item__c</field>
            <value>
                <elementReference>parentQuoteLineId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_pricebook_entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>salesPriceCurrencyInput</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_PriceBook</name>
        <label>Get Current PriceBook</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasCurrentQuotePricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_quote.Pricebook2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_current_quote</name>
        <label>Get current quote</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_current_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pricebook_entry</name>
        <label>Get pricebook entry</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>priceBook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Unavailable_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentQuoteLineId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>selectFieldsFromQuoteLineItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Line_Type__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>MRC__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>QuoteId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityLineItemId</queriedFields>
        <queriedFields>LineNumber</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Quote_with_Standard_Pricebook</name>
        <label>Update Current Quote with Standard Pricebook</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Get_pricebook_entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_current_quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>priceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Quote_Line</name>
        <label>Update the Quote Line</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentQuoteLineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Type__c</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Line_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRC__c</field>
            <value>
                <elementReference>mrcCurrencyInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>selectFieldsFromQuoteLineItem.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>salesPriceCurrencyInput</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <screens>
        <name>Form_Screen</name>
        <label>Form Screen</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_PriceBook</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectFieldsFromQuoteLineItem.Product2Id</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectFieldsFromQuoteLineItem.Quantity</objectFieldReference>
        </fields>
        <fields>
            <name>salesPriceCurrencyInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>salesPriceValue</elementReference>
            </defaultValue>
            <fieldText>Sales Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectFieldsFromQuoteLineItem.Description</objectFieldReference>
        </fields>
        <fields>
            <name>mrcCurrencyInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>mrcValue</elementReference>
            </defaultValue>
            <fieldText>MRC</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectFieldsFromQuoteLineItem.Location__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>selectFieldsFromQuoteLineItem.Line_Type__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Add/Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_current_quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>currQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>mrcValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>parentQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>priceBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>salesPriceValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>selectFieldsFromQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
